.bg-one-custom {
    background-color: #F0E9D2;
}

.bg-two-custom {
    background-color: #E6DDC4;
}

.bg-three-custom {
    background-color: #678983;
}

.bg-four-custom {
    background-color: #181D31;
}